.board {
  background-color: #007700;
  display: flex;
  width: fit-content;
  margin: 10px;
}


.board-row {
  justify-content: center;
  text-align: center;
}

.game {
  background-color: #007700;
  width: fit-content;
  margin: 20px;
  border: 1px solid #007700;
  border-radius: 10px;
}
