.board-cell {
  background-color: #c0c0c0;
  border: 5px outset #e0e0e0;
  width: 40px;
  height: 40px;
  font-size: 1.3rem;
  user-select: none;
  font-size: 2rem;
}

.cell-active, .board-cell:active {
  border: 1px solid #b0b0b0;
  width: 48px;
  height: 48px;
}
